/* Form.css */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* CityCard.css */
.city-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  max-width: 300px;
}

.city-card h2 {
  margin: 0;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}

.city-card p {
  margin: 0;
  padding: 10px;
}

/* Login.css и SignUp.css (если требуется дополнительный стиль) */
/* Дополните стили, если нужно */
